.topdesign{

	background-image: url('../img/bg_top.jpg');
	border-bottom: 15px solid #028b71;
}

.bggeneral{
	background-image: url('../img/bg_generalbig.jpg');

}
.container{

		

}

.dirbarbottom{
	background-image: url('../img/dir_bar_bottom.png');
	height: 71px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 50;
	bottom: 1px;

}

.contentbottom{
	padding-top: 20px;
	padding-bottom: 50px;
}

.container .colorcontainer{
background-color: #f8f6ea;
	padding: 15px;
}

.footer{
	border-top: 10px solid #d2ccb6;
background-image: url('../img/bg_footer.jpg');
	color: #d2ccb6;

}

.footer a{
	color: #d2ccb6;
}
.footer a:hover{
 text-decoration: none;
 	color: white;
 }


 .productformat{

 }
 .producttitle{
 	color: #911a21;
 	border-bottom:  8px solid #911a21;
 }
 .recipetitle{
 	color: #1db8d2;
 	border-bottom: 8px solid #1db8d2;
 }


 .benefitstitle{
 	color: #25a781;
 	border-bottom: 8px solid #25a781;
 }

 .benefitsbody{
   background-color: white;
   min-height: 150px;
	padding: 20px;
	border-bottom: 3px solid #25a781;

 }

 .benefitssubtitle{
 	color:#1c8ca1;
 	font-weight: bold;
 }
 .benefitsdescription{
 	color:#94999a;

 }

 .recipetitledescription{
 		color: #1db8d2;
 }

 .recipeitemtitle{
 	color: #a9aca3;
 }


  .recipeitemsubtitle{
 	color: #1db8d2;
 }

 .titlecategory{
 	
 }

 .cuadroproducto{
 	background-color: #f8f6ea;
 	-moz-box-shadow: 0 0 3px 3px #888;
	-webkit-box-shadow: 0 0 3px 3px#888;
	box-shadow: 0 0 1px 1px #888;
 	padding: 15px;
 	margin-bottom: 40px;
 	margin-right: 20px;
 	height: 300px;
	border-radius: 20px;
 }
 .detalleproducto{
 	border:1px solid red;
 	height: 30px;
 	width: 50px;
 	position: static;
 }

 .itemname{
 	color:#911a21;
 	text-align: center;
 	font-size: 2em;
 	font-weight: bold;
 }

 .itemdescription{
 	color:#aaa;
 	text-align: center;
 	font-size: 1.2em;

 }

 .cuadrodetalle{
 	border-radius: 20px;
 	/*border-top: 3px solid gray;*/
 border: 2px solid #ddd; 
 padding: 20px;


 }


.imagendetalle{
	border: 2px solid #ddd;
}

 .btn-guindo{

 }
 .itemtext{
 	color: #666;
 }

 .dirciudad{
 	font-size: 1.3em;
 	font-weight: bold;
 	color: #06816a;
 	text-align: center;


 }

 .cuadrodireccion{
 	padding: 20px;
 }

 .tipodedireccion{
 	color: #06816a;
 }
.itemreceta{
	border-bottom: 2px solid #1db8d2;
	margin-bottom: 20px;
	padding-bottom: 20px;
}


